<div class="form">
  <h2 class="form-title text-center">Reset Password</h2>
  <form class="login" [formGroup]="form" (ngSubmit)="resetPassword(form.value)">
    <mat-form-field class="form-field">
      <input
        matInput
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <mat-error
        *ngIf="form.get('email')!.touched && form.get('email')!.invalid"
      >
        <mat-error
          *ngIf="
            form.controls['email'].hasError('email') &&
            !form.controls['email'].hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="form-btn" type="submit">
      Reset
    </button>
    <a
      mat-button
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      class="form-link"
      >Login</a
    >
  </form>
</div>
