.form {
  max-width: 40%;
  margin: 0 auto;
}
.form-field {
  width: 100%;
}

.password-link {
  width: 100%;
  margin-right: 10%;
}
.form-link {
  margin-left: 3%;
}
.form-btn {
  margin-top: 1%;
  padding: 0 5%;
}
